{% extends "base.html" %}{% load i18n %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>{{ user.username }}{% trans "'s Credential" %}</h3>
        </div>

        <ul class="nav nav-tabs">
            <li>
            <a href="{% url 'profile' user.username  %}">{% trans "Profile" %}</a>
            </li>
            <li  class="active"><a href="{% url 'credential' user.username  %}">{% trans "Credential" %}</a></li>
        </ul>

        <form id="frmProject" class="form-horizontal" action="{{ action }}" method="post">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" >SSH Password</label>
                <div class="controls">
                    <input name="ssh_password" type="password"   class="span3" placeholder="if modify ssh key, re-input password" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" >SSH Private Keys (DSA)</label>
                <div class="controls">
                    <textarea name="id_dsa_pub" class="span6" rows="10">{{ profile.ssh_key }}</textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>


    </div>

{% endblock %}
